#panel, #flip {
    padding: 2px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px;
}
  
#panel {
    padding: 2px; /* Reducir el padding a 10px */
    display: none;
}